In [11]:
import pandas as pd

fbref_2010 = pd.read_csv('fbref/2010_fbref.csv',header=1)
fbref_2014 = pd.read_csv('fbref/2014_fbref.csv',header=1)
fbref_2018 = pd.read_csv('fbref/2018_fbref.csv',header=1)

display(fbref_2010.head(5),fbref_2014.head(5),fbref_2018.head(5))

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Algeria,18,25.9,NaN,3,33,270,3.0,0,0,0,0,0,6,2,0.00,0.0,0.00,0.00,0.00
1,Argentina,20,26.2,NaN,5,55,450,5.0,9,0,9,0,0,5,0,1.80,0.0,1.80,1.80,1.80
2,Australia,19,30.1,NaN,3,33,270,3.0,3,0,3,0,0,7,2,1.00,0.0,1.00,1.00,1.00
3,Brazil,19,28.9,NaN,5,55,450,5.0,9,0,9,0,0,2,1,1.80,0.0,1.80,1.80,1.80
4,Cameroon,20,26.1,NaN,3,33,270,3.0,2,0,1,1,1,5,0,0.67,0.0,0.67,0.33,0.33

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Algeria,20,25.9,39.5,4,44,390,4.3,7,6,6,1,1,5,0,1.62,1.38,3.00,1.38,2.77
1,Argentina,20,27.6,54.4,7,77,720,8.0,7,3,7,0,0,1,0,0.87,0.37,1.25,0.87,1.25
2,Australia,17,26.2,43.7,3,33,270,3.0,3,2,2,1,1,6,0,1.00,0.67,1.67,0.67,1.33
3,Belgium,20,25.6,52.6,5,55,480,5.3,6,4,6,0,0,2,0,1.13,0.75,1.87,1.13,1.87
4,Bosnia and Herzegovina,20,26.5,53.7,3,33,270,3.0,4,2,4,0,0,3,0,1.33,0.67,2.00,1.33,2.00

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,G+A-PK,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1
0,Argentina,20,29.6,65.3,4,44,360,4.0,6,6,...,3.00,4.9,4.1,3.0,7.1,1.23,0.75,1.97,1.04,1.78
1,Australia,15,27.7,51.7,3,33,270,3.0,2,0,...,0.00,3.5,2.0,1.6,3.6,1.16,0.55,1.71,0.66,1.21
2,Belgium,21,27.7,52.9,7,77,630,7.0,15,12,...,3.71,11.8,11.1,9.1,20.2,1.69,1.30,2.99,1.58,2.88
3,Brazil,18,28.2,58.6,5,55,450,5.0,8,7,...,3.00,11.8,11.8,9.0,20.8,2.36,1.80,4.16,2.36,4.16
4,Colombia,20,26.8,50.5,4,44,390,4.3,6,5,...,2.54,2.7,2.7,2.3,5.1,0.63,0.54,1.17,0.63,1.17

fbref_2018 has more columns that the others

In [17]:
fbref_2018 = fbref_2018.iloc[:,:-9]
fbref_2018.head(5)

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Argentina,20,29.6,65.3,4,44,360,4.0,6,6,6,0,1,6,0,1.50,1.50,3.00,1.50,3.00
1,Australia,15,27.7,51.7,3,33,270,3.0,2,0,0,2,2,7,0,0.67,0.00,0.67,0.00,0.00
2,Belgium,21,27.7,52.9,7,77,630,7.0,15,12,14,1,1,1,0,2.14,1.71,3.86,2.00,3.71
3,Brazil,18,28.2,58.6,5,55,450,5.0,8,7,8,0,0,3,0,1.60,1.40,3.00,1.60,3.00
4,Colombia,20,26.8,50.5,4,44,390,4.3,6,5,6,0,0,3,1,1.38,1.15,2.54,1.38,2.54

In [39]:
# concatenate them
df_concat = pd.concat([fbref_2010,fbref_2014, fbref_2018])
df_concat

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,Pl
0,Algeria,18.0,25.9,NaN,3,33,270,3.0,0,0,...,0,0,6,2,0.00,0.00,0.00,0.00,0.00,NaN
1,Argentina,20.0,26.2,NaN,5,55,450,5.0,9,0,...,0,0,5,0,1.80,0.00,1.80,1.80,1.80,NaN
2,Australia,19.0,30.1,NaN,3,33,270,3.0,3,0,...,0,0,7,2,1.00,0.00,1.00,1.00,1.00,NaN
3,Brazil,19.0,28.9,NaN,5,55,450,5.0,9,0,...,0,0,2,1,1.80,0.00,1.80,1.80,1.80,NaN
4,Cameroon,20.0,26.1,NaN,3,33,270,3.0,2,0,...,1,1,5,0,0.67,0.00,0.67,0.33,0.33,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Spain,NaN,28.9,74.0,4,44,390,4.3,6,3,...,0,0,1,0,1.38,0.69,2.08,1.38,2.08,17.0
28,Sweden,NaN,28.5,37.6,5,55,450,5.0,5,3,...,2,2,5,0,1.00,0.60,1.60,0.60,1.20,19.0
29,Switzerland,NaN,27.4,58.8,4,44,360,4.0,5,4,...,0,0,7,0,1.25,1.00,2.25,1.25,2.25,17.0
30,Tunisia,NaN,26.2,52.7,3,33,270,3.0,5,4,...,1,1,4,0,1.67,1.33,3.00,1.33,2.67,23.0
31,Uruguay,NaN,27.6,46.6,5,55,450,5.0,6,4,...,0,0,1,0,1.20,0.80,2.00,1.20,2.00,19.0

In [37]:
fbref_2014.columns

Index(['Squad', ' Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls.1', 'Ast.1', 'G+A',
       'G-PK.1', 'G+A-PK'],
      dtype='object')

In [46]:
fbref_2014.rename(columns={' Pl':'Pl'},inplace=True)
fbref_2018.rename(columns={' Pl':'Pl'},inplace=True)

In [47]:
df_concat = pd.concat([fbref_2010,fbref_2014, fbref_2018])
df_concat

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Algeria,18,25.9,NaN,3,33,270,3.0,0,0,0,0,0,6,2,0.00,0.00,0.00,0.00,0.00
1,Argentina,20,26.2,NaN,5,55,450,5.0,9,0,9,0,0,5,0,1.80,0.00,1.80,1.80,1.80
2,Australia,19,30.1,NaN,3,33,270,3.0,3,0,3,0,0,7,2,1.00,0.00,1.00,1.00,1.00
3,Brazil,19,28.9,NaN,5,55,450,5.0,9,0,9,0,0,2,1,1.80,0.00,1.80,1.80,1.80
4,Cameroon,20,26.1,NaN,3,33,270,3.0,2,0,1,1,1,5,0,0.67,0.00,0.67,0.33,0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Spain,17,28.9,74.0,4,44,390,4.3,6,3,6,0,0,1,0,1.38,0.69,2.08,1.38,2.08
28,Sweden,19,28.5,37.6,5,55,450,5.0,5,3,3,2,2,5,0,1.00,0.60,1.60,0.60,1.20
29,Switzerland,17,27.4,58.8,4,44,360,4.0,5,4,5,0,0,7,0,1.25,1.00,2.25,1.25,2.25
30,Tunisia,23,26.2,52.7,3,33,270,3.0,5,4,4,1,1,4,0,1.67,1.33,3.00,1.33,2.67
31,Uruguay,19,27.6,46.6,5,55,450,5.0,6,4,6,0,0,1,0,1.20,0.80,2.00,1.20,2.00

In [48]:
df_all = df_concat.groupby('Squad').mean().reset_index()
df_all

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Algeria,19.000000,25.900000,39.50,3.500000,38.500000,330.0,3.650000,3.500000,3.000000,3.000000,0.500000,0.500000,5.500000,1.000000,0.810000,0.690000,1.500000,0.690000,1.385000
1,Argentina,20.000000,27.800000,59.85,5.333333,58.666667,510.0,5.666667,7.333333,3.000000,7.333333,0.000000,0.333333,4.000000,0.000000,1.390000,0.623333,2.016667,1.390000,2.016667
2,Australia,17.000000,28.000000,47.70,3.000000,33.000000,270.0,3.000000,2.666667,0.666667,1.666667,1.000000,1.000000,6.666667,0.666667,0.890000,0.223333,1.113333,0.556667,0.776667
3,Belgium,20.500000,26.650000,52.75,6.000000,66.000000,555.0,6.150000,10.500000,8.000000,10.000000,0.500000,0.500000,1.500000,0.000000,1.635000,1.230000,2.865000,1.565000,2.790000
4,Bosnia and Herzegovina,20.000000,26.500000,53.70,3.000000,33.000000,270.0,3.000000,4.000000,2.000000,4.000000,0.000000,0.000000,3.000000,0.000000,1.330000,0.670000,2.000000,1.330000,2.000000
5,Brazil,19.333333,28.233333,56.00,5.666667,62.333333,520.0,5.766667,9.333333,5.333333,9.000000,0.333333,0.333333,3.000000,0.333333,1.633333,0.876667,2.510000,1.586667,2.463333
6,Cameroon,20.000000,26.450000,44.30,3.000000,33.000000,270.0,3.000000,1.500000,0.500000,1.000000,0.500000,0.500000,4.500000,0.500000,0.500000,0.165000,0.670000,0.330000,0.500000
7,Chile,18.500000,25.750000,55.30,4.000000,44.000000,375.0,4.150000,4.500000,1.500000,4.500000,0.000000,0.000000,3.500000,0.500000,1.065000,0.345000,1.415000,1.065000,1.415000
8,Colombia,21.000000,27.000000,49.05,4.500000,49.500000,420.0,4.650000,9.000000,7.500000,8.000000,1.000000,1.000000,2.500000,0.500000,1.890000,1.575000,3.470000,1.690000,3.270000
9,Costa Rica,19.000000,28.350000,41.05,4.000000,44.000000,390.0,4.350000,3.000000,2.500000,3.000000,0.000000,0.500000,5.500000,0.500000,0.605000,0.520000,1.130000,0.605000,1.130000
10,Croatia,19.000000,28.500000,52.95,5.000000,55.000000,495.0,5.500000,9.000000,5.500000,8.500000,0.500000,1.000000,4.000000,0.500000,1.645000,1.000000,2.645000,1.585000,2.585000
11,Côte d'Ivoire,17.500000,28.300000,55.30,3.000000,33.000000,270.0,3.000000,4.000000,1.500000,4.000000,0.000000,0.000000,5.500000,0.000000,1.330000,0.500000,1.830000,1.330000,1.830000
12,Denmark,19.500000,27.650000,43.80,3.500000,38.500000,330.0,3.650000,3.000000,1.500000,3.000000,0.000000,0.000000,5.500000,0.000000,0.845000,0.345000,1.190000,0.845000,1.190000
13,Ecuador,17.000000,27.600000,45.00,3.000000,33.000000,270.0,3.000000,3.000000,2.000000,3.000000,0.000000,0.000000,5.000000,1.000000,1.000000,0.670000,1.670000,1.000000,1.670000
14,Egypt,16.000000,28.900000,43.30,3.000000,33.000000,270.0,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000
15,England,20.333333,27.033333,54.35,4.666667,51.333333,440.0,4.900000,5.666667,2.666667,4.666667,1.000000,1.000000,3.333333,0.000000,0.996667,0.483333,1.476667,0.863333,1.346667
16,France,19.666667,26.400000,50.80,5.000000,55.000000,450.0,5.000000,7.000000,4.000000,5.666667,1.333333,1.666667,3.000000,0.333333,1.213333,0.686667,1.900000,1.006667,1.690000
17,Germany,20.000000,26.266667,64.95,5.666667,62.333333,530.0,5.900000,12.000000,4.666667,11.666667,0.333333,0.333333,2.000000,0.666667,1.770000,0.746667,2.510000,1.726667,2.466667
18,Ghana,19.500000,25.250000,48.70,4.000000,44.000000,390.0,4.350000,4.500000,2.000000,3.500000,1.000000,1.000000,4.500000,0.000000,1.105000,0.665000,1.775000,0.930000,1.600000
19,Greece,18.000000,28.000000,47.30,3.500000,38.500000,330.0,3.650000,2.500000,0.500000,2.000000,0.500000,0.500000,5.000000,0.500000,0.680000,0.115000,0.795000,0.565000,0.680000
20,Honduras,18.500000,28.550000,49.00,3.000000,33.000000,270.0,3.000000,0.500000,0.000000,0.500000,0.000000,0.000000,6.500000,0.500000,0.165000,0.000000,0.165000,0.165000,0.165000
21,IR Iran,15.000000,29.000000,35.00,3.000000,33.000000,270.0,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000
22,Iceland,18.000000,30.000000,33.00,3.000000,33.000000,270.0,3.000000,2.000000,0.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.670000,0.000000,0.670000,0.330000,0.330000
23,Iran,16.000000,26.200000,29.00,3.000000,33.000000,270.0,3.000000,1.000000,0.000000,0.000000,1.000000,1.000000,7.000000,0.000000,0.330000,0.000000,0.330000,0.000000,0.000000
24,Italy,20.000000,28.500000,55.00,3.000000,33.000000,270.0,3.000000,3.000000,1.000000,2.500000,0.500000,0.500000,4.000000,0.500000,1.000000,0.335000,1.330000,0.835000,1.165000
25,Japan,17.666667,28.166667,54.35,3.666667,40.333333,340.0,3.766667,4.000000,2.333333,3.666667,0.333333,0.333333,3.666667,0.000000,1.030000,0.640000,1.666667,0.946667,1.583333
26,Korea DPR,15.000000,26.500000,NaN,3.000000,35.000000,270.0,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.330000,0.000000,0.330000,0.330000,0.330000
27,Korea Republic,17.666667,26.366667,44.80,3.333333,36.666667,300.0,3.333333,4.000000,1.666667,4.000000,0.000000,0.000000,6.333333,0.000000,1.166667,0.556667,1.723333,1.166667,1.723333
28,Mexico,18.333333,28.000000,51.15,4.000000,44.000000,360.0,4.000000,4.000000,1.666667,3.333333,0.666667,0.666667,6.000000,0.000000,1.000000,0.416667,1.416667,0.833333,1.250000
29,Morocco,19.000000,28.600000,49.00,3.000000,33.000000,270.0,3.000000,2.000000,1.000000,2.000000,0.000000,0.000000,8.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000
30,Netherlands,21.000000,27.300000,49.30,7.000000,77.000000,675.0,7.500000,13.000000,5.000000,12.000000,1.000000,1.000000,4.000000,0.500000,1.730000,0.650000,2.380000,1.600000,2.250000
31,New Zealand,15.000000,28.500000,NaN,3.000000,33.000000,270.0,3.000000,2.000000,0.000000,2.000000,0.000000,0.000000,6.000000,0.000000,0.670000,0.000000,0.670000,0.670000,0.670000
32,Nigeria,17.666667,25.666667,49.05,3.333333,36.666667,300.0,3.333333,3.000000,1.666667,2.333333,0.666667,0.666667,4.000000,0.000000,0.916667,0.473333,1.390000,0.696667,1.166667
33,Panama,20.000000,28.300000,36.00,3.000000,33.000000,270.0,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,11.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000
34,Paraguay,20.000000,28.900000,NaN,5.000000,55.000000,480.0,5.300000,3.000000,0.000000,3.000000,0.000000,0.000000,4.000000,0.000000,0.560000,0.000000,0.560000,0.560000,0.560000
35,Peru,17.000000,27.500000,50.30,3.000000,33.000000,270.0,3.000000,2.000000,1.000000,2.000000,0.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000
36,Poland,21.000000,27.600000,50.30,3.000000,33.000000,270.0,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,3.000000,0.000000,0.670000,0.670000,1.330000,0.670000,1.330000
37,Portugal,19.666667,28.300000,52.25,3.666667,40.333333,330.0,3.666667,5.333333,1.666667,5.000000,0.333333,0.666667,1.333333,0.666667,1.416667,0.443333,1.860000,1.333333,1.776667
38,Russia,17.500000,28.450000,43.45,4.000000,44.000000,390.0,4.350000,6.000000,5.000000,5.500000,0.500000,0.500000,4.000000,0.500000,1.215000,1.040000,2.255000,1.130000,2.165000
39,Saudi Arabia,20.000000,28.100000,59.00,3.000000,33.000000,270.0,3.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000
40,Senegal,18.000000,26.000000,42.00,3.000000,33.000000,270.0,3.000000,3.000000,1.000000,3.000000,0.000000,0.000000,6.000000,0.000000,1.000000,0.330000,1.330000,1.000000,1.330000
41,Serbia,18.500000,27.300000,42.70,3.000000,33.000000,270.0,3.000000,2.000000,0.500000,2.000000,0.000000,0.000000,8.500000,0.500000,0.670000,0.165000,0.835000,0.670000,0.835000
42,Slovakia,21.000000,25.800000,NaN,4.000000,44.000000,360.0,4.000000,5.000000,0.000000,4.000000,1.000000,1.000000,8.000000,0.000000,1.250000,0.000000,1.250000,1.000000,1.000000
43,Slovenia,15.000000,26.800000,NaN,3.000000,33.000000,270.0,3.000000,3.000000,0.000000,3.000000,0.000000,0.000000,8.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
44,South Africa,19.000000,26.100000,NaN,3.000000,33.000000,270.0,3.000000,3.000000,0.000000,3.000000,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
45,Spain,19.666667,27.933333,65.00,4.666667,51.333333,440.0,4.866667,6.000000,2.333333,5.666667,0.333333,0.333333,3.000000,0.000000,1.266667,0.610000,1.880000,1.156667,1.770000
46,Sweden,19.000000,28.500000,37.60,5.000000,55.000000,450.0,5.000000,5.000000,3.000000,3.000000,2.000000,2.000000,5.000000,0.000000,1.000000,0.600000,1.600000,0.600000,1.200000
47,Switzerland,17.666667,26.733333,53.30,3.666667,40.333333,340.0,3.766667,4.333333,3.333333,4.333333,0.000000,0.000000,5.666667,0.000000,1.066667,0.793333,1.860000,1.066667,1.860000
48,Tunisia,23.000000,26.200000,52.70,3.000000,33.000000,270.0,3.000000,5.000000,4.000000,4.000000,1.000000,1.000000,4.000000,0.000000,1.670000,1.330000,3.000000,1.330000,2.670000
49,United States,19.000000,28.050000,44.80,4.000000,44.000000,390.0,4.300000,5.000000,2.000000,4.500000,0.500000,0.500000,4.500000,0.000000,1.150000,0.460000,1.615000,1.035000,1.500000
50,Uruguay,20.000000,27.233333,46.20,5.333333,58.666667,490.0,5.433333,7.000000,2.000000,6.333333,0.666667,0.666667,1.333333,0.333333,1.233333,0.433333,1.666667,1.103333,1.536667

In [52]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Squad   51 non-null     object
 1   Pl      51 non-null     float64
 2   Age     51 non-null     float64
 3   Poss    45 non-null     float64
 4   MP      51 non-null     float64
 5   Starts  51 non-null     float64
 6   Min     51 non-null     float64
 7   90s     51 non-null     float64
 8   Gls     51 non-null     float64
 9   Ast     51 non-null     float64
 10  G-PK    51 non-null     float64
 11  PK      51 non-null     float64
 12  PKatt   51 non-null     float64
 13  CrdY    51 non-null     float64
 14  CrdR    51 non-null     float64
 15  Gls.1   51 non-null     float64
 16  Ast.1   51 non-null     float64
 17  G+A     51 non-null     float64
 18  G-PK.1  51 non-null     float64
 19  G+A-PK  51 non-null     float64
dtypes: float64(19), object(1)
memory usage: 8.1+ KB

In [53]:

df_all['Poss'].fillna(df_all['Poss'].mean(),inplace=True)

In [55]:
df_all.mean().values

<ipython-input-55-c10d7415d63c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_all.mean().values

array([1.87189542e+01, 2.74447712e+01, 4.84422222e+01, 3.80392157e+00,
       4.18823529e+01, 3.51372549e+02, 3.90098039e+00, 4.27777778e+00,
       2.04901961e+00, 3.84640523e+00, 4.31372549e-01, 5.29411765e-01,
       4.61437908e+00, 2.05882353e-01, 9.97058824e-01, 4.71699346e-01,
       1.46931373e+00, 8.93104575e-01, 1.36571895e+00])

In [56]:
average_row = df_all.mean().values

<ipython-input-56-d038cedbf7d7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  average_row = df_all.mean().values

In [58]:
df_all.loc['mean'] = df_all.mean()
df_all

<ipython-input-58-2197c1987204>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_all.loc['mean'] = df_all.mean()

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,mean
0,Algeria,19.000000,25.900000,39.500000,3.500000,38.500000,330.000000,3.650000,3.500000,3.000000,...,0.500000,0.500000,5.500000,1.000000,0.810000,0.690000,1.500000,0.690000,1.385000,NaN
1,Argentina,20.000000,27.800000,59.850000,5.333333,58.666667,510.000000,5.666667,7.333333,3.000000,...,0.000000,0.333333,4.000000,0.000000,1.390000,0.623333,2.016667,1.390000,2.016667,NaN
2,Australia,17.000000,28.000000,47.700000,3.000000,33.000000,270.000000,3.000000,2.666667,0.666667,...,1.000000,1.000000,6.666667,0.666667,0.890000,0.223333,1.113333,0.556667,0.776667,NaN
3,Belgium,20.500000,26.650000,52.750000,6.000000,66.000000,555.000000,6.150000,10.500000,8.000000,...,0.500000,0.500000,1.500000,0.000000,1.635000,1.230000,2.865000,1.565000,2.790000,NaN
4,Bosnia and Herzegovina,20.000000,26.500000,53.700000,3.000000,33.000000,270.000000,3.000000,4.000000,2.000000,...,0.000000,0.000000,3.000000,0.000000,1.330000,0.670000,2.000000,1.330000,2.000000,NaN
5,Brazil,19.333333,28.233333,56.000000,5.666667,62.333333,520.000000,5.766667,9.333333,5.333333,...,0.333333,0.333333,3.000000,0.333333,1.633333,0.876667,2.510000,1.586667,2.463333,NaN
6,Cameroon,20.000000,26.450000,44.300000,3.000000,33.000000,270.000000,3.000000,1.500000,0.500000,...,0.500000,0.500000,4.500000,0.500000,0.500000,0.165000,0.670000,0.330000,0.500000,NaN
7,Chile,18.500000,25.750000,55.300000,4.000000,44.000000,375.000000,4.150000,4.500000,1.500000,...,0.000000,0.000000,3.500000,0.500000,1.065000,0.345000,1.415000,1.065000,1.415000,NaN
8,Colombia,21.000000,27.000000,49.050000,4.500000,49.500000,420.000000,4.650000,9.000000,7.500000,...,1.000000,1.000000,2.500000,0.500000,1.890000,1.575000,3.470000,1.690000,3.270000,NaN
9,Costa Rica,19.000000,28.350000,41.050000,4.000000,44.000000,390.000000,4.350000,3.000000,2.500000,...,0.000000,0.500000,5.500000,0.500000,0.605000,0.520000,1.130000,0.605000,1.130000,NaN
10,Croatia,19.000000,28.500000,52.950000,5.000000,55.000000,495.000000,5.500000,9.000000,5.500000,...,0.500000,1.000000,4.000000,0.500000,1.645000,1.000000,2.645000,1.585000,2.585000,NaN
11,Côte d'Ivoire,17.500000,28.300000,55.300000,3.000000,33.000000,270.000000,3.000000,4.000000,1.500000,...,0.000000,0.000000,5.500000,0.000000,1.330000,0.500000,1.830000,1.330000,1.830000,NaN
12,Denmark,19.500000,27.650000,43.800000,3.500000,38.500000,330.000000,3.650000,3.000000,1.500000,...,0.000000,0.000000,5.500000,0.000000,0.845000,0.345000,1.190000,0.845000,1.190000,NaN
13,Ecuador,17.000000,27.600000,45.000000,3.000000,33.000000,270.000000,3.000000,3.000000,2.000000,...,0.000000,0.000000,5.000000,1.000000,1.000000,0.670000,1.670000,1.000000,1.670000,NaN
14,Egypt,16.000000,28.900000,43.300000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,...,1.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000,NaN
15,England,20.333333,27.033333,54.350000,4.666667,51.333333,440.000000,4.900000,5.666667,2.666667,...,1.000000,1.000000,3.333333,0.000000,0.996667,0.483333,1.476667,0.863333,1.346667,NaN
16,France,19.666667,26.400000,50.800000,5.000000,55.000000,450.000000,5.000000,7.000000,4.000000,...,1.333333,1.666667,3.000000,0.333333,1.213333,0.686667,1.900000,1.006667,1.690000,NaN
17,Germany,20.000000,26.266667,64.950000,5.666667,62.333333,530.000000,5.900000,12.000000,4.666667,...,0.333333,0.333333,2.000000,0.666667,1.770000,0.746667,2.510000,1.726667,2.466667,NaN
18,Ghana,19.500000,25.250000,48.700000,4.000000,44.000000,390.000000,4.350000,4.500000,2.000000,...,1.000000,1.000000,4.500000,0.000000,1.105000,0.665000,1.775000,0.930000,1.600000,NaN
19,Greece,18.000000,28.000000,47.300000,3.500000,38.500000,330.000000,3.650000,2.500000,0.500000,...,0.500000,0.500000,5.000000,0.500000,0.680000,0.115000,0.795000,0.565000,0.680000,NaN
20,Honduras,18.500000,28.550000,49.000000,3.000000,33.000000,270.000000,3.000000,0.500000,0.000000,...,0.000000,0.000000,6.500000,0.500000,0.165000,0.000000,0.165000,0.165000,0.165000,NaN
21,IR Iran,15.000000,29.000000,35.000000,3.000000,33.000000,270.000000,3.000000,1.000000,1.000000,...,0.000000,0.000000,4.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000,NaN
22,Iceland,18.000000,30.000000,33.000000,3.000000,33.000000,270.000000,3.000000,2.000000,0.000000,...,1.000000,2.000000,3.000000,0.000000,0.670000,0.000000,0.670000,0.330000,0.330000,NaN
23,Iran,16.000000,26.200000,29.000000,3.000000,33.000000,270.000000,3.000000,1.000000,0.000000,...,1.000000,1.000000,7.000000,0.000000,0.330000,0.000000,0.330000,0.000000,0.000000,NaN
24,Italy,20.000000,28.500000,55.000000,3.000000,33.000000,270.000000,3.000000,3.000000,1.000000,...,0.500000,0.500000,4.000000,0.500000,1.000000,0.335000,1.330000,0.835000,1.165000,NaN
25,Japan,17.666667,28.166667,54.350000,3.666667,40.333333,340.000000,3.766667,4.000000,2.333333,...,0.333333,0.333333,3.666667,0.000000,1.030000,0.640000,1.666667,0.946667,1.583333,NaN
26,Korea DPR,15.000000,26.500000,48.442222,3.000000,35.000000,270.000000,3.000000,1.000000,0.000000,...,0.000000,0.000000,2.000000,0.000000,0.330000,0.000000,0.330000,0.330000,0.330000,NaN
27,Korea Republic,17.666667,26.366667,44.800000,3.333333,36.666667,300.000000,3.333333,4.000000,1.666667,...,0.000000,0.000000,6.333333,0.000000,1.166667,0.556667,1.723333,1.166667,1.723333,NaN
28,Mexico,18.333333,28.000000,51.150000,4.000000,44.000000,360.000000,4.000000,4.000000,1.666667,...,0.666667,0.666667,6.000000,0.000000,1.000000,0.416667,1.416667,0.833333,1.250000,NaN
29,Morocco,19.000000,28.600000,49.000000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,...,0.000000,0.000000,8.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000,NaN
30,Netherlands,21.000000,27.300000,49.300000,7.000000,77.000000,675.000000,7.500000,13.000000,5.000000,...,1.000000,1.000000,4.000000,0.500000,1.730000,0.650000,2.380000,1.600000,2.250000,NaN
31,New Zealand,15.000000,28.500000,48.442222,3.000000,33.000000,270.000000,3.000000,2.000000,0.000000,...,0.000000,0.000000,6.000000,0.000000,0.670000,0.000000,0.670000,0.670000,0.670000,NaN
32,Nigeria,17.666667,25.666667,49.050000,3.333333,36.666667,300.000000,3.333333,3.000000,1.666667,...,0.666667,0.666667,4.000000,0.000000,0.916667,0.473333,1.390000,0.696667,1.166667,NaN
33,Panama,20.000000,28.300000,36.000000,3.000000,33.000000,270.000000,3.000000,1.000000,1.000000,...,0.000000,0.000000,11.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000,NaN
34,Paraguay,20.000000,28.900000,48.442222,5.000000,55.000000,480.000000,5.300000,3.000000,0.000000,...,0.000000,0.000000,4.000000,0.000000,0.560000,0.000000,0.560000,0.560000,0.560000,NaN
35,Peru,17.000000,27.500000,50.300000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,...,0.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000,NaN
36,Poland,21.000000,27.600000,50.300000,3.000000,33.000000,270.000000,3.000000,2.000000,2.000000,...,0.000000,0.000000,3.000000,0.000000,0.670000,0.670000,1.330000,0.670000,1.330000,NaN
37,Portugal,19.666667,28.300000,52.250000,3.666667,40.333333,330.000000,3.666667,5.333333,1.666667,...,0.333333,0.666667,1.333333,0.666667,1.416667,0.443333,1.860000,1.333333,1.776667,NaN
38,Russia,17.500000,28.450000,43.450000,4.000000,44.000000,390.000000,4.350000,6.000000,5.000000,...,0.500000,0.500000,4.000000,0.500000,1.215000,1.040000,2.255000,1.130000,2.165000,NaN
39,Saudi Arabia,20.000000,28.100000,59.000000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,...,1.000000,2.000000,1.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000,NaN
40,Senegal,18.000000,26.000000,42.000000,3.000000,33.000000,270.000000,3.000000,3.000000,1.000000,...,0.000000,0.000000,6.000000,0.000000,1.000000,0.330000,1.330000,1.000000,1.330000,NaN
41,Serbia,18.500000,27.300000,42.700000,3.000000,33.000000,270.000000,3.000000,2.000000,0.500000,...,0.000000,0.000000,8.500000,0.500000,0.670000,0.165000,0.835000,0.670000,0.835000,NaN
42,Slovakia,21.000000,25.800000,48.442222,4.000000,44.000000,360.000000,4.000000,5.000000,0.000000,...,1.000000,1.000000,8.000000,0.000000,1.250000,0.000000,1.250000,1.000000,1.000000,NaN
43,Slovenia,15.000000,26.800000,48.442222,3.000000,33.000000,270.000000,3.000000,3.000000,0.000000,...,0.000000,0.000000,8.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,NaN
44,South Africa,19.000000,26.100000,48.442222,3.000000,33.000000,270.000000,3.000000,3.000000,0.000000,...,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,NaN
45,Spain,19.666667,27.933333,65.000000,4.666667,51.333333,440.000000,4.866667,6.000000,2.333333,...,0.333333,0.333333,3.000000,0.000000,1.266667,0.610000,1.880000,1.156667,1.770000,NaN
46,Sweden,19.000000,28.500000,37.600000,5.000000,55.000000,450.000000,5.000000,5.000000,3.000000,...,2.000000,2.000000,5.000000,0.000000,1.000000,0.600000,1.600000,0.600000,1.200000,NaN
47,Switzerland,17.666667,26.733333,53.300000,3.666667,40.333333,340.000000,3.766667,4.333333,3.333333,...,0.000000,0.000000,5.666667,0.000000,1.066667,0.793333,1.860000,1.066667,1.860000,NaN
48,Tunisia,23.000000,26.200000,52.700000,3.000000,33.000000,270.000000,3.000000,5.000000,4.000000,...,1.000000,1.000000,4.000000,0.000000,1.670000,1.330000,3.000000,1.330000,2.670000,NaN
49,United States,19.000000,28.050000,44.800000,4.000000,44.000000,390.000000,4.300000,5.000000,2.000000,...,0.500000,0.500000,4.500000,0.000000,1.150000,0.460000,1.615000,1.035000,1.500000,NaN
50,Uruguay,20.000000,27.233333,46.200000,5.333333,58.666667,490.000000,5.433333,7.000000,2.000000,...,0.666667,0.666667,1.333333,0.333333,1.233333,0.433333,1.666667,1.103333,1.536667,NaN
mean,NaN,18.718954,27.444771,48.442222,3.803922,41.882353,351.372549,3.900980,4.277778,2.049020,...,0.431373,0.529412,4.614379,0.205882,0.997059,0.471699,1.469314,0.893105,1.365719,NaN

In [71]:

df_all.rename({df_all.index[-1]:51}, inplace=True)
df_all

,Squad,Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK
0,Algeria,19.000000,25.900000,39.500000,3.500000,38.500000,330.000000,3.650000,3.500000,3.000000,3.000000,0.500000,0.500000,5.500000,1.000000,0.810000,0.690000,1.500000,0.690000,1.385000
1,Argentina,20.000000,27.800000,59.850000,5.333333,58.666667,510.000000,5.666667,7.333333,3.000000,7.333333,0.000000,0.333333,4.000000,0.000000,1.390000,0.623333,2.016667,1.390000,2.016667
2,Australia,17.000000,28.000000,47.700000,3.000000,33.000000,270.000000,3.000000,2.666667,0.666667,1.666667,1.000000,1.000000,6.666667,0.666667,0.890000,0.223333,1.113333,0.556667,0.776667
3,Belgium,20.500000,26.650000,52.750000,6.000000,66.000000,555.000000,6.150000,10.500000,8.000000,10.000000,0.500000,0.500000,1.500000,0.000000,1.635000,1.230000,2.865000,1.565000,2.790000
4,Bosnia and Herzegovina,20.000000,26.500000,53.700000,3.000000,33.000000,270.000000,3.000000,4.000000,2.000000,4.000000,0.000000,0.000000,3.000000,0.000000,1.330000,0.670000,2.000000,1.330000,2.000000
5,Brazil,19.333333,28.233333,56.000000,5.666667,62.333333,520.000000,5.766667,9.333333,5.333333,9.000000,0.333333,0.333333,3.000000,0.333333,1.633333,0.876667,2.510000,1.586667,2.463333
6,Cameroon,20.000000,26.450000,44.300000,3.000000,33.000000,270.000000,3.000000,1.500000,0.500000,1.000000,0.500000,0.500000,4.500000,0.500000,0.500000,0.165000,0.670000,0.330000,0.500000
7,Chile,18.500000,25.750000,55.300000,4.000000,44.000000,375.000000,4.150000,4.500000,1.500000,4.500000,0.000000,0.000000,3.500000,0.500000,1.065000,0.345000,1.415000,1.065000,1.415000
8,Colombia,21.000000,27.000000,49.050000,4.500000,49.500000,420.000000,4.650000,9.000000,7.500000,8.000000,1.000000,1.000000,2.500000,0.500000,1.890000,1.575000,3.470000,1.690000,3.270000
9,Costa Rica,19.000000,28.350000,41.050000,4.000000,44.000000,390.000000,4.350000,3.000000,2.500000,3.000000,0.000000,0.500000,5.500000,0.500000,0.605000,0.520000,1.130000,0.605000,1.130000
10,Croatia,19.000000,28.500000,52.950000,5.000000,55.000000,495.000000,5.500000,9.000000,5.500000,8.500000,0.500000,1.000000,4.000000,0.500000,1.645000,1.000000,2.645000,1.585000,2.585000
11,Côte d'Ivoire,17.500000,28.300000,55.300000,3.000000,33.000000,270.000000,3.000000,4.000000,1.500000,4.000000,0.000000,0.000000,5.500000,0.000000,1.330000,0.500000,1.830000,1.330000,1.830000
12,Denmark,19.500000,27.650000,43.800000,3.500000,38.500000,330.000000,3.650000,3.000000,1.500000,3.000000,0.000000,0.000000,5.500000,0.000000,0.845000,0.345000,1.190000,0.845000,1.190000
13,Ecuador,17.000000,27.600000,45.000000,3.000000,33.000000,270.000000,3.000000,3.000000,2.000000,3.000000,0.000000,0.000000,5.000000,1.000000,1.000000,0.670000,1.670000,1.000000,1.670000
14,Egypt,16.000000,28.900000,43.300000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000
15,England,20.333333,27.033333,54.350000,4.666667,51.333333,440.000000,4.900000,5.666667,2.666667,4.666667,1.000000,1.000000,3.333333,0.000000,0.996667,0.483333,1.476667,0.863333,1.346667
16,France,19.666667,26.400000,50.800000,5.000000,55.000000,450.000000,5.000000,7.000000,4.000000,5.666667,1.333333,1.666667,3.000000,0.333333,1.213333,0.686667,1.900000,1.006667,1.690000
17,Germany,20.000000,26.266667,64.950000,5.666667,62.333333,530.000000,5.900000,12.000000,4.666667,11.666667,0.333333,0.333333,2.000000,0.666667,1.770000,0.746667,2.510000,1.726667,2.466667
18,Ghana,19.500000,25.250000,48.700000,4.000000,44.000000,390.000000,4.350000,4.500000,2.000000,3.500000,1.000000,1.000000,4.500000,0.000000,1.105000,0.665000,1.775000,0.930000,1.600000
19,Greece,18.000000,28.000000,47.300000,3.500000,38.500000,330.000000,3.650000,2.500000,0.500000,2.000000,0.500000,0.500000,5.000000,0.500000,0.680000,0.115000,0.795000,0.565000,0.680000
20,Honduras,18.500000,28.550000,49.000000,3.000000,33.000000,270.000000,3.000000,0.500000,0.000000,0.500000,0.000000,0.000000,6.500000,0.500000,0.165000,0.000000,0.165000,0.165000,0.165000
21,IR Iran,15.000000,29.000000,35.000000,3.000000,33.000000,270.000000,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,4.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000
22,Iceland,18.000000,30.000000,33.000000,3.000000,33.000000,270.000000,3.000000,2.000000,0.000000,1.000000,1.000000,2.000000,3.000000,0.000000,0.670000,0.000000,0.670000,0.330000,0.330000
23,Iran,16.000000,26.200000,29.000000,3.000000,33.000000,270.000000,3.000000,1.000000,0.000000,0.000000,1.000000,1.000000,7.000000,0.000000,0.330000,0.000000,0.330000,0.000000,0.000000
24,Italy,20.000000,28.500000,55.000000,3.000000,33.000000,270.000000,3.000000,3.000000,1.000000,2.500000,0.500000,0.500000,4.000000,0.500000,1.000000,0.335000,1.330000,0.835000,1.165000
25,Japan,17.666667,28.166667,54.350000,3.666667,40.333333,340.000000,3.766667,4.000000,2.333333,3.666667,0.333333,0.333333,3.666667,0.000000,1.030000,0.640000,1.666667,0.946667,1.583333
26,Korea DPR,15.000000,26.500000,48.442222,3.000000,35.000000,270.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,0.330000,0.000000,0.330000,0.330000,0.330000
27,Korea Republic,17.666667,26.366667,44.800000,3.333333,36.666667,300.000000,3.333333,4.000000,1.666667,4.000000,0.000000,0.000000,6.333333,0.000000,1.166667,0.556667,1.723333,1.166667,1.723333
28,Mexico,18.333333,28.000000,51.150000,4.000000,44.000000,360.000000,4.000000,4.000000,1.666667,3.333333,0.666667,0.666667,6.000000,0.000000,1.000000,0.416667,1.416667,0.833333,1.250000
29,Morocco,19.000000,28.600000,49.000000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,2.000000,0.000000,0.000000,8.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000
30,Netherlands,21.000000,27.300000,49.300000,7.000000,77.000000,675.000000,7.500000,13.000000,5.000000,12.000000,1.000000,1.000000,4.000000,0.500000,1.730000,0.650000,2.380000,1.600000,2.250000
31,New Zealand,15.000000,28.500000,48.442222,3.000000,33.000000,270.000000,3.000000,2.000000,0.000000,2.000000,0.000000,0.000000,6.000000,0.000000,0.670000,0.000000,0.670000,0.670000,0.670000
32,Nigeria,17.666667,25.666667,49.050000,3.333333,36.666667,300.000000,3.333333,3.000000,1.666667,2.333333,0.666667,0.666667,4.000000,0.000000,0.916667,0.473333,1.390000,0.696667,1.166667
33,Panama,20.000000,28.300000,36.000000,3.000000,33.000000,270.000000,3.000000,1.000000,1.000000,1.000000,0.000000,0.000000,11.000000,0.000000,0.330000,0.330000,0.670000,0.330000,0.670000
34,Paraguay,20.000000,28.900000,48.442222,5.000000,55.000000,480.000000,5.300000,3.000000,0.000000,3.000000,0.000000,0.000000,4.000000,0.000000,0.560000,0.000000,0.560000,0.560000,0.560000
35,Peru,17.000000,27.500000,50.300000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,2.000000,0.000000,1.000000,5.000000,0.000000,0.670000,0.330000,1.000000,0.670000,1.000000
36,Poland,21.000000,27.600000,50.300000,3.000000,33.000000,270.000000,3.000000,2.000000,2.000000,2.000000,0.000000,0.000000,3.000000,0.000000,0.670000,0.670000,1.330000,0.670000,1.330000
37,Portugal,19.666667,28.300000,52.250000,3.666667,40.333333,330.000000,3.666667,5.333333,1.666667,5.000000,0.333333,0.666667,1.333333,0.666667,1.416667,0.443333,1.860000,1.333333,1.776667
38,Russia,17.500000,28.450000,43.450000,4.000000,44.000000,390.000000,4.350000,6.000000,5.000000,5.500000,0.500000,0.500000,4.000000,0.500000,1.215000,1.040000,2.255000,1.130000,2.165000
39,Saudi Arabia,20.000000,28.100000,59.000000,3.000000,33.000000,270.000000,3.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.670000,0.330000,1.000000,0.330000,0.670000
40,Senegal,18.000000,26.000000,42.000000,3.000000,33.000000,270.000000,3.000000,3.000000,1.000000,3.000000,0.000000,0.000000,6.000000,0.000000,1.000000,0.330000,1.330000,1.000000,1.330000
41,Serbia,18.500000,27.300000,42.700000,3.000000,33.000000,270.000000,3.000000,2.000000,0.500000,2.000000,0.000000,0.000000,8.500000,0.500000,0.670000,0.165000,0.835000,0.670000,0.835000
42,Slovakia,21.000000,25.800000,48.442222,4.000000,44.000000,360.000000,4.000000,5.000000,0.000000,4.000000,1.000000,1.000000,8.000000,0.000000,1.250000,0.000000,1.250000,1.000000,1.000000
43,Slovenia,15.000000,26.800000,48.442222,3.000000,33.000000,270.000000,3.000000,3.000000,0.000000,3.000000,0.000000,0.000000,8.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
44,South Africa,19.000000,26.100000,48.442222,3.000000,33.000000,270.000000,3.000000,3.000000,0.000000,3.000000,0.000000,0.000000,5.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
45,Spain,19.666667,27.933333,65.000000,4.666667,51.333333,440.000000,4.866667,6.000000,2.333333,5.666667,0.333333,0.333333,3.000000,0.000000,1.266667,0.610000,1.880000,1.156667,1.770000
46,Sweden,19.000000,28.500000,37.600000,5.000000,55.000000,450.000000,5.000000,5.000000,3.000000,3.000000,2.000000,2.000000,5.000000,0.000000,1.000000,0.600000,1.600000,0.600000,1.200000
47,Switzerland,17.666667,26.733333,53.300000,3.666667,40.333333,340.000000,3.766667,4.333333,3.333333,4.333333,0.000000,0.000000,5.666667,0.000000,1.066667,0.793333,1.860000,1.066667,1.860000
48,Tunisia,23.000000,26.200000,52.700000,3.000000,33.000000,270.000000,3.000000,5.000000,4.000000,4.000000,1.000000,1.000000,4.000000,0.000000,1.670000,1.330000,3.000000,1.330000,2.670000
49,United States,19.000000,28.050000,44.800000,4.000000,44.000000,390.000000,4.300000,5.000000,2.000000,4.500000,0.500000,0.500000,4.500000,0.000000,1.150000,0.460000,1.615000,1.035000,1.500000
50,Uruguay,20.000000,27.233333,46.200000,5.333333,58.666667,490.000000,5.433333,7.000000,2.000000,6.333333,0.666667,0.666667,1.333333,0.333333,1.233333,0.433333,1.666667,1.103333,1.536667
51,mean,18.718954,27.444771,48.442222,3.803922,41.882353,351.372549,3.900980,4.277778,2.049020,3.846405,0.431373,0.529412,4.614379,0.205882,0.997059,0.471699,1.469314,0.893105,1.365719

In [72]:
df_all.to_csv('team_avg_statistics.csv')

<b>
PI : number of players
 
MP : matches played
    
90s : minutes played divided by 90
    
GLs : goals
    
Ast : assistance
    
G-PK: non - penalty goals
    
PK :penalty kicks made

PKatt : penalty kicks attempted
    
CrdY : yellow cards
    
CrdR : red cards
    
G+A : goals + assists 
    
G-PK.1 :goals minus penalty kicks
    
G+A-PK : goals + assists minus penalty kicks
</b>